@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

:root{
    --fonte-titulo: Cambria; 
    --fonte-tabela: 'Recursive', sans-serif;
    --amarelo: #FAC900;
    --roxo:#C75EEB;
    --verde:#61E061;
    --azul:#4EBFE9;
    --vermelho: #F6543B;
    --cinza-claro:#fafafa;
}

*{
    font-family: var(--fonte-tabela);
    color: #434343;
}

.filtroMenu{
    display: none;
}

#totalResultado{
    display: none;
}

/* Seção adicionar nova tarefa */

.secao-nova-tarefa{
    align-items: center;
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.imagem{
    width: 30%;
    margin: 0;
}

.anotacoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fac800a2;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    align-items: center;
    
}

textarea{
    cursor: text;
}

.titulo-bloco{
    font-size: 28px;
    font-family: var(--fonte-titulo);
    color: #707070;
    font-weight: 600;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
}

.bloco{
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.titulo-form {
    font-size: 28px;
    font-family: var(--fonte-titulo);
    color: var(--roxo);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.titulo-form::before,.titulo-form::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--verde);
}
  
.titulo-form::before {
    width: 18px;
    height: 18px;
    background-color: var(--verde);
}
  
.titulo-form::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}


/* TABELA */

table {
    width: 80%;
    font-size: 30px;
}

th {
    background-color: #e8e8e8;
    font-family: var(--fonte-titulo);
    text-align: center;
    padding: 8px;
    border: 1px solid #dddddd88;
    border-radius: 20px;
}

td {
    padding: 8px;
    border: 1px solid #ddddddb9;
    border-radius: 20px;
    font-family: var(--fonte-tabela);
    font-size: 20px;
    color: #464646;
}

.secao-tabela{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


/* BOTOES */

.botoes{
    align-items: flex-start;
    display: grid;
    width: 15%;
}

.botoes button{
    width: 100%;
    height: 6rem;
    font-family: var(--fonte-titulo);
    font-size: 150%;
    margin: 8px 0;
}

.botoes .filtroMenu{
    width: 100%;
    height: 4rem;
    border: none;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;

}

.botao{
    background-color: #f2f2f2;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    border: 1px solid #ddd;
    z-index: 1;
    font-weight: 500;
}

.botao::before, .botao::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transition: 1s ease;
} 

.botao.adicionar{
    color: black;
    background: #61e0619d;
    height: 2rem;
    border-radius: 3rem;
    font-family: var(--fonte-tabela);
}

.botao.filtrar{
    background: #4ec0e997;
}

.botao.ordenar{
    background: #f6543b9b;
}

.botao.total{
    background: #c85eeba2;
}

.botao.adicionar::before, .botao.adicionar::after {
    background-color: var(--verde);
} 

.botao.filtrar::before, .botao.filtrar::after{
    background-color: var(--azul);
}

.botao.ordenar::before, .botao.ordenar::after{
    background-color: var(--vermelho);
}

.botao.total::before, .botao.total::after {
    background-color: var(--roxo);
}
.botao::before {
    top: -1em;
    left: -1em;
}

.botao::after{
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.botao:hover::before, .botao:hover::after {
    height: 410px;
    width: 410px;
}

.botao:hover {
    color: rgb(255, 255, 255);
}
   
.botao:active {
    filter: brightness(.8);
}   


